In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder as le
from sklearn.preprocessing import MinMaxScaler as mms 
from sklearn_pandas import DataFrameMapper

In [2]:
ds=pd.read_excel("student.xlsx")

In [3]:
ds

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
ds.isnull().values.any()

False

In [5]:
ds.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [6]:
lee = le()

In [7]:
ds["school"] = lee.fit_transform(ds["school"])
ds["sex"] = lee.fit_transform(ds["sex"])
ds["address"] = lee.fit_transform(ds["address"])
ds["famsize"] = lee.fit_transform(ds["famsize"])
ds["Pstatus"] = lee.fit_transform(ds["Pstatus"])
ds["Fedu"] = lee.fit_transform(ds["Fedu"])
ds["Mjob"] = lee.fit_transform(ds["Mjob"])
ds["Fjob"] = lee.fit_transform(ds["Fjob"])
ds["reason"] = lee.fit_transform(ds["reason"])
ds["guardian"] = lee.fit_transform(ds["guardian"])
ds["schoolsup"] = lee.fit_transform(ds["schoolsup"])
ds["famsup"] = lee.fit_transform(ds["famsup"])
ds["paid"] = lee.fit_transform(ds["paid"])
ds["activities"] = lee.fit_transform(ds["activities"])
ds["nursery"] = lee.fit_transform(ds["nursery"])
ds["higher"] = lee.fit_transform(ds["higher"])
ds["internet"] = lee.fit_transform(ds["internet"])
ds["romantic"] = lee.fit_transform(ds["romantic"])

In [8]:
ds

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,18,1,0,0,4,4,0,4,...,4,3,4,1,1,3,6,5,6,6
1,0,0,17,1,0,1,1,1,0,2,...,5,3,3,1,1,3,4,5,5,6
2,0,0,15,1,1,1,1,1,0,2,...,4,3,2,2,3,3,10,7,8,10
3,0,0,15,1,0,1,4,2,1,3,...,3,2,2,1,1,5,2,15,14,15
4,0,0,16,1,0,1,3,3,2,2,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,1,0,2,2,3,3,...,5,5,4,4,5,4,11,9,9,9
391,1,1,17,1,1,1,3,1,3,3,...,2,4,5,3,4,2,3,14,16,16
392,1,1,21,0,0,1,1,1,2,2,...,5,5,3,3,3,3,3,10,8,7
393,1,1,18,0,1,1,3,2,3,2,...,4,4,1,3,4,5,0,11,12,10
394,1,1,19,1,1,1,1,1,2,0,...,3,2,3,3,3,5,5,8,9,9

In [9]:
ds.to_excel("labelStudent.xlsx")